<h1>Contact page</h1>

<ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
</ul>

  <form method="post" action="send">
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Your email</label>
          <input
            class="u-full-width"
            name="userEmail"
            type="email"
            placeholder="test@mailbox.com"
            id="exampleEmailInput"
          />
        </div>
        <div class="six columns">
          <label for="exampleEmailInput1">Your name</label>
          <input
                   name="userName"
            class="u-full-width"
            type="text"
            placeholder="your name"
            id="exampleEmailInput1"
          />
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea
        class="u-full-width"
          name="userMessage"
        placeholder="Hi Dave …"
        id="exampleMessage"
      ></textarea>

      <input class="button-primary" type="submit" value="Submit" />
    </form>